@import "./assets/css/reset.css";
@import "./assets/css/userCard.css";
@import "./assets/css/font-face.css";
@import "./assets/css/heading.css";
@import "./assets/css/section.css";
@import "./assets/css/iconCard.css";




*{
    box-sizing: border-box;
}
:root{
    --colorWhite: #ffffff;/*background light section,
                       h2 second dark section,
                       heading iconsCard,
                       button second dark section,*/
    --colorBlack: #000000; /*button and border header,
                       text button second dark section*/
    --colorDS1: #1d1d1d; /*background first dark section*/
    --colorDS2: #181818; /*background second dark section*/
    --colorHeadingLS: #1d1e1f; /*color h1 header,
                       h2 light section*/
    --colorNav: #989696; /*color nav*/
    --colorNavHover: #010101; /*color nav hover*/
    --colorTextLS: #898888; /*color text header,
                       text light section,
                       plasholder form*/
    --colorTextDS1: #b7b7b7; /*color text in first dark section*/
    --colorTextDS2: #777777; /*color text second dark section*/
    --colorHeadindDS1: #fefefe; /*color h3 (years) in first dark section,
                       button form*/
    --colorFormBorder: #999999; /*color border form*/
    --colorFormBtnFon: #161616; /*fon button form*/

    --colorUserInfo: #b3b3b3; /*color userCard text info*/
    --colorUserName: #464646; /*color userCard text name*/
    --colorUserLink: #e4e4e4; /*color userCard icons */

    --colorIconsCardText: #383838; /*color text iconsCard */

    --colorIconContact: #323232; /*color icons contact*/

    --colorPoint: #d0d0d0; /*points in header*/
    --colorTextBottomCite: #3b3b3b; /*text bottom cite*/

    font-size: 12px;
    font-family: "HelveticaNeueLTPro-Lt",sans-serif;
    font-weight: 400;

}