.hidden-heading {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.titleHeader {

    font-size: 3.6rem;
    font-weight: 400;
    line-height: 17px;
    color: var(--colorHeadingLS);
}
.titleLS{
    font-family: "HelveticaNeueLTPro-Lt",sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 26px;
}